<div class="my-row-center">
    <div style="width: 28%;">
        <label class="item-stacked-label" style="border: 0;padding: 0; display: flex;">
            <span class="input-label" style="text-align: right; width: 100%; display:table;">프로토콜 명 :</span>
        </label>
    </div>

    <div style="width: 72%;">
        <input class="lrp-popover-input" type="text" placeholder="프로토콜 명" ng-model="lrpModel.tempDataPopover.name">
    </div>
</div>

<div class="my-row-center">
    <button class="button icon" style="width: 94%; margin: 3%;" ng-click="addProtocol()">확인</button>
</div>