<ion-header-bar class="bar-stable lrp-header-padding lrp-sub-header">
    <div class="div-flex"><h3>{{lrpModel.selectedTherapist.name}}</h3></div>
    <div class="my-row-center">
        <button class="button button-balanced" ng-if="lrpModel.selectedTherapist.certified" ng-click="selectListOpenManager(0)" style="margin-right: 5px;">환자배정</button>
        <div style="margin-right: 5px;" ng-if="!lrpModel.selectedTherapist.certified">
            <img src="./img/res/list_icon_unapproval.png" style="width: 60px; height: auto;" ng-click="certifyTherapist()">
        </div>
        <button class="button button-balanced" ng-click="userFormOpenManager(3)">정보수정</button>
    </div>
</ion-header-bar>

<ion-content direction="y" has-bouncing="false" style="height: calc(100% - 128px);">
    <ion-list>

        <ion-item class="my-row-center">
            <div class="div-left div-flex">
                <p>{{lrpModel.selectedTherapist.center_name}} {{lrpModel.selectedTherapist.department}}</p>
                <p>{{lrpModel.selectedTherapist.sex}}</p>
                <p>{{lrpModel.selectedTherapist.email}}</p>
            </div>
        </ion-item>

        <ion-item class="item-divider my-row-center" style="height: 52px;">

            <div class="div-flex">
                <h2>배정 환자 목록</h2>
            </div>
            <div class="item-input-inset lrp-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="환자검색" ng-model="formSearch.searchPatientNameA.name">
                </label>
            </div>

        </ion-item>

        <ion-item class="my-row-center" ng-repeat="patient in lrpModel.patientList | filter:{ assignedTherapist : lrpModel.selectedTherapist._id } | filter:formSearch.searchPatientNameA" ng-click="selectPatient(patient)" ng-class="isSelected(patient, 1)">
            <div class="div-left div-flex">
                <h2 ng-bind-html="patient.name | highlight:formSearch.searchPatientNameA.name"></h2>
                <p>{{patient.email}}</p>
            </div>
            <div>
                <p>최종검진 : {{patient.updated | date: "yyyy-MM-dd"}}</p>
            </div>
        </ion-item>

    </ion-list>
</ion-content>