<div class="centered" style="width: 45%">

    <div style="position: relative; margin: 0px; padding: 10px; font-size: 18px;">

        <div>
            <h1 style="color: #015495;">계정 찾기</h1>
        </div>

        <div class="my-row-center" style="margin-top: 65px;">
            <div style="width: 28%;">
                <label class="item-stacked-label" style="border: 0;padding: 0; display: flex;">
                    <span class="input-label" style="text-align: right; width: 100%; display:table;">등록 이메일 :</span>
                </label>
            </div>

            <div style="width: 72%;">
                <input class="lrp-popover-input" type="text" placeholder="이메일" ng-model="userData.email">
            </div>
        </div>

        <div style="display: flex;margin-top: 55px;">
            <button class="button button-block button-balanced" style="margin-right: 10px" ng-click="cancleAndGoLogin()">취소</button>
            <button class="button button-block button-balanced" ng-click="findAccount_email()">이메일로 확인</button>
        </div>

    </div>

</div>