<ion-header-bar class="bar-stable" style="background-color: #cbd9e5; width: initial;">
    <div class="item-input-inset lrp-input-inset" style="width: 100%;height: 100%;">
        <label class="item-input-wrapper" style="height: 100%;">
            <img src="./img/res/search_inputpox_icon.png" style="width: 36px; height: auto;">
            <input type="text" placeholder="검색" ng-model="formSearch.searchHome.name">
        </label>
        <button class="button lrp-search-delete-button" ng-click="formSearch.searchHome.name = '';">
            <i class="icon ion-android-close"></i>
        </button>
    </div>
</ion-header-bar>

<ion-content direction="y" has-bouncing="false" style="width: initial; height: calc(100% - 128px);">

    <ion-list>

        <ion-item class="item-divider">

            <div class="div-left">
                <h2>과제</h2>
            </div>

        </ion-item>

        <ion-item class="my-row-center" ng-repeat="homework in lrpModel.homeworkList | filter:formSearch.searchHome"  ng-click="selectHomeWorkPatient(homework)">
            <div class="div-left div-flex">
                <h2>{{homework.name}} <span ng-if="!homework.isProtocol">(세트 : {{homework.setNum}})</span></h2>
                <p>{{homework.assigner.name}} <span ng-if="homework.expired !== undefined">{{homework.expired | date: "yyyy-MM-dd"}} 까지</span></p>
            </div>
            <div ng-if="homework.refResults.length > 0">
                <p>완료</p>
            </div>
        </ion-item>

    </ion-list>

</ion-content>