<ion-view view-title="Play">
    <div ng-if="!endFlag" style="height: 100%;">

        <ion-header-bar class="lrp-bar-top lrp-header-padding" style="width: 100%; position: relative">
            <div ng-switch="" on="lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.practice">
                <div ng-switch-when="true">
                    <div class="div-flex">
                        <h3>채점 {{lrpModel.selectedResult.name}} {{lrpModel.selectedResult.tasks[lrpModel.taskPivot].refTask.name}} 연습문제 ({{stage + 1}} / {{lrpModel.numOfPractice}}) </h3>
                    </div>
                </div>
                <div ng-switch-default>
                    <div class="div-flex">
                        <h3>채점 {{lrpModel.selectedResult.name}} {{lrpModel.selectedResult.tasks[lrpModel.taskPivot].refTask.name}} ({{stage + 1 - lrpModel.numOfPractice}} / {{lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfProblem - lrpModel.numOfPractice}})
                        </h3>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button class="button button-clear icon ion-close" ng-click="endExerciseAsk()"></button>
            </div>
        </ion-header-bar>

        <img ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'record' && lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].isCorrect" style="position: absolute;max-width: 600px;max-height: 600px;top: calc(60% - 300px); left: calc(50% - 300px);"
            src="./img/res/training_img_answer01.png">

        <div style="height: 100%;">
            <div class="outer-excercise">
                <div class="inner-middle">
                    <div ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.def.length === 1" style="display: table; width: 100%; height: 10vh;padding-left: 5px;" ng-class="{ lrpRecordMarginTop : lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'record' }">
                        <div style="display: table-row;" ng-repeat="definition in lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.def">
                            <div style="display: table-cell; vertical-align: middle;">
                                <img ng-if="definition.resType === 'file'" class="lrp-fade" ng-class="{ lrpPlayImgL: lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'record', lrpPlayImgM: lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'select' }" src="{{lrpServer}}uploads/{{definition.value}}">
                                <h1 style="font-size: {{ setFontSize(definition, lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.def.length) }}px;" ng-if="definition.resType === 'str'">{{definition.value}}</h1>
                            </div>
                        </div>
                    </div>

                    <!-- 단일 그리기 -->
                    <div ng-if="(lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'draw-one')">
                        <div style="display: table-row;" ng-init="initDrawingPadAndLoad(1.0, 0.7, true)">
                            <div style="display: table-cell; vertical-align: middle; height:70vh; width:100vw" my-directive>
                                <div id="sketchpad"></div>
                            </div>
                        </div>
                        <div style="display: table-row; height:20vh">
                            <div style='display: table-cell; width:100vw'>
                            </div>
                        </div>
                    </div>

                    <!-- 설문조사 -->
                    <div style="text-align:left" ng-if="(lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'forms')">
                        res: {{lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res[0].value}}
                        <ng-include src="lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res[0].value"></ng-include>
                    </div>
                    <!-- 04번 과제 -->
                    <div style="text-align:left" ng-if="(lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'pick15')">
                        <ng-include src="'partial/custom_04.html'"></ng-include>
                    </div>
                    <!-- 08번 과제 -->
                    <div style="text-align:left" ng-if="(lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'pick08')">
                        <ng-include src="'partial/custom_08.html'"></ng-include>
                    </div>
                    <!-- 35번 과제 -->
                    <div style="text-align:left" ng-if="(lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'sound')">
                        <ng-include src="'partial/custom_35sound.html'"></ng-include>
                    </div>

                    <!-- side-by-side 그리기 -->
                    <div ng-if="(lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'draw-two')">
                        <div style="display: table-row;" ng-init="initDrawingPadAndLoad()">
                            <div id="resizeTarget" style="display: table-cell; vertical-align: middle; height:70vh; width:50vw">
                                <div>
                                    <img src='{{lrpServer}}uploads/{{lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res[0].value}}' style="max-width: 100%; max-height: 100%;">
                                </div>
                            </div>
                            <div style="display: table-cell; vertical-align: middle; height:70vh; width:50vw" my-directive>
                                <div id="sketchpad"></div>
                            </div>
                        </div>
                        <div style="display: table-row; height:20vh">
                            <div style='display: table-cell; width:100vw'>
                            </div>
                        </div>
                    </div>

                    <div ng-if="(lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.def.length === 2)" style="display: table;padding-bottom: 20px; padding-left: 5px; height: 368px;" ng-class="{ lrpRecordMarginTop : lrpModel.selectedTask.answer === 'record' }">
                        <div style="display: table-row;">
                            <div style="display: table-cell; vertical-align: middle;padding-bottom: 20px;">
                                <div>
                                    <h1 style="font-size: 45px; text-align: left; padding-left: 10px;">{{lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.def[0].value}}</h1>
                                </div>
                            </div>
                        </div>
                        <div style="display: table-row;">
                            <div style="display: table-cell; vertical-align: middle;">
                                <div>
                                    <h1 style="font-size: 55px; text-align: left; padding-left: 10px;">{{lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.def[1].value}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'select' && lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.def.length === 2 && lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res.length === 4"
                        style="display: table; width: 100%; margin-top: 5px;">
                        <div style="display: table-cell; vertical-align: middle;">
                            <div ng-if="lrpModel.selectedProblemSet[stage].res.length < 1 || lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res[0].resType !== 'bool'">
                                <div ng-repeat="resource in lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res" style="display: inline-block; min-width: 33%;" ng-class="{
                              lrpImgCorrected: selectFlag && (resource.isAnswer) && selectImg !== $index,
                              lrpImgSelected : selectImg === $index
                            }" ng-click="selectAnswer($index)">
                                    <div style="display: table; width: 100%; height: 100%;">
                                        <div style="display: table-cell; vertical-align: middle; text-align: center;">
                                            <img ng-if="resource.resType === 'file'" class="lrpPlayImgS lrp-fade" src="{{lrpServer}}uploads/{{resource.value}}">
                                            <h1 ng-if="resource.resType === 'str'" style="font-size: 60px;">{{resource.value}}</h1>
                                            <img ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'select' && (resource.isAnswer) && selectFlag && selectImg === $index" style="position: absolute;max-width: 300px;max-height: 300px;" class="{{'lrpCorrect244' + $index}}" src="./img/res/training_img_answer01.png">
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'select' && lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.def.length === 0 && lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res.length === 4"
                        style="display: table; width: 100%; height: 285px; margin-top: 10px;">
                        <div style="display: table-cell; vertical-align: middle;">
                            <div ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res.length < 1 || lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res[0].resType !== 'bool'">
                                <div ng-repeat="resource in lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res" style="display: inline-block; min-width: 33%; " ng-class="{
                              lrpImgCorrected: selectFlag && (resource.isAnswer) && selectImg !== $index,
                              lrpImgSelected : selectImg === $index
                            }">
                                    <div style="display: table; width: 100%; height: 100%;">

                                        <div style="display: table-cell; vertical-align: middle; text-align: center;">
                                            <img ng-if="resource.resType === 'file'" class="lrpPlayImgM lrp-fade" src="{{lrpServer}}uploads/{{resource.value}}">
                                            <h1 ng-if="resource.resType === 'str'" ng-if="resource.resType === 'str'" class="lrpPlayFontSizeS">{{resource.value}}</h1>
                                            <img ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'select' && (resource.isAnswer) && selectFlag && selectImg === $index" style="position: absolute;max-width: 600px;max-height: 600px;" class="{{'lrpCorrect44' + $index}}" src="./img/res/training_img_answer01.png">
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'select' && lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res.length < 4" style="display: table; width: 100%; height: 285px; margin-top: 10px;">
                        <div style="display: table-cell; vertical-align: middle;">
                            <div ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res.length < 1 || lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res[0].resType !== 'bool'">
                                <div ng-repeat="resource in lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res" style="display: inline-block; min-width: 33%;" ng-class="{
                              lrpImgCorrected: selectFlag && (resource.isAnswer) && selectImg !== $index,
                              lrpImgSelected : selectImg === $index
                            }">
                                    <div style="display: table; width: 100%; height: 100%;">

                                        <div style="display: table-cell; vertical-align: middle; text-align: center;">
                                            <img ng-if="resource.resType === 'file'" class="lrpPlayImgM lrp-fade" src="{{lrpServer}}uploads/{{resource.value}}">
                                            <h1 ng-if="resource.resType === 'str'" ng-if="resource.resType === 'str'" class="lrpPlayFontSizeS">{{resource.value}}</h1>
                                            <img ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'select' && (resource.isAnswer) && selectFlag && selectImg === $index" style="position: absolute;max-width: 600px;max-height: 600px;top: calc(75% - 265px);" class="{{'lrpCorrect' + $index}}"
                                                src="./img/res/training_img_answer01.png">
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res.length === 1 && lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res[0].resType === 'bool'">
                                <div style="display: inline-block; width: 33%; height: 285px;" ng-class="{
                              lrpImgCorrected: selectFlag && lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res[0].isAnswer && selectImg !== 1,
                              lrpImgSelected : selectImg === 1
                            }">
                                    <div style="display: table; width: 100%; height: 100%;">
                                        <div style="display: table-cell; vertical-align: middle; text-align: center;">
                                            <h1 class="lrpPlayFontSizeS">예</h1>
                                            <img ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res[0].isAnswer && selectFlag && selectImg === 1" style="position: absolute;max-width: 600px;max-height: 600px;top: calc(75% - 265px);left: calc(33.3% - 300px);"
                                                src="./img/res/training_img_answer01.png">
                                        </div>
                                    </div>
                                </div>

                                <div style="display: inline-block; width: 33%; height: 285px;" ng-class="{
                              lrpImgCorrected: selectFlag && !lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res[0].isAnswer && selectImg !== 2,
                              lrpImgSelected : selectImg === 2
                            }">
                                    <div style="display: table; width: 100%; height: 100%;">
                                        <div style="display: table-cell; vertical-align: middle; text-align: center;">
                                            <h1 class="lrpPlayFontSizeS">아니오</h1>
                                            <img ng-if="!lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.res[0].isAnswer && selectFlag && selectImg === 2" style="position: absolute;max-width: 600px;max-height: 600px;top: calc(75% - 265px);left: calc(66.6% - 300px);"
                                                src="./img/res/training_img_answer01.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--div ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'record'">
                        <a href="{{lrpServer}}uploads/{{lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].recordFile}}">{{lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].recordFile}}</a>
                    </div-->
                </div>
            </div>

            <div style="position: absolute; width: 100%; padding: 10px; bottom: 0px;">

                <div ng-if="(lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType !== 'forms')">
                    <div ng-if="scoringFlag" style="float:left">
                        <button style="height:100px; width:180px;" ng-click="openScoring()">
                        채점표 열기
                    </button>
                    </div>
                </div>

                <div ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'record'">
                    <div style="float: left;">
                        <button class="button" style="height: 100px; width: 100px;" ng-click="recordPlay()" ng-disabled="playLock">
                            <img src="./img/res/training_progress_btn_play_normal.png" style="width: 70px; margin-top: 14px;">
                        </button>
                    </div>

                    <div ng-if="lrpModel.userData.roles !== 'patient'" style="float: left; margin-left: 20px; width: 100px;">
                        <button class="button" style="height: 100px; width: 100%;" ng-click="setGrade(0)" ng-disabled="playLock">
                            정답
                        </button>
                    </div>

                    <div ng-if="lrpModel.userData.roles !== 'patient'" style="float: left; margin-left: 20px; width: 100px;">
                        <button class="button" style="height: 100px; width: 100%;" ng-click="setGrade(1)" ng-disabled="playLock">
                            의미 단서
                        </button>
                    </div>

                    <div ng-if="lrpModel.userData.roles !== 'patient'" style="float: left; margin-left: 10px; width: 100px;">
                        <button class="button" style="height: 100px; width: 100%;" ng-click="setGrade(2)" ng-disabled="playLock">
                            음절 단서
                        </button>
                    </div>

                    <div ng-if="lrpModel.userData.roles !== 'patient'" style="float: left; margin-left: 10px; width: 100px;">
                        <button class="button" style="height: 100px; width: 100%;" ng-click="setGrade(3)" ng-disabled="playLock">
                            오답
                        </button>
                    </div>
                </div>

                <div ng-switch="" on="lrpModel.selectedResult.tasks[lrpModel.taskPivot].scoreType" style="float: left; margin-left: 10px;">
                    <div ng-switch-when="sfna">
                        <div ng-switch="" on="lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.practice">
                            <div ng-switch-when="true">
                                <button class="button" style="height: 100px; width: 100px;" ng-click="stageNext()">
                                            <span>다음</span>
                                        </button>
                            </div>
                            <div ng-switch-default>
                                <button class="button" style="height: 100px; width: 100px;" ng-class="{selectedButton:lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore == 'S'}" ng-click="stageNext('S')">
                                            <span>S</span>
                                        </button>
                                <button class="button" style="height: 100px; width: 100px;" ng-class="{selectedButton:lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore == 'F'}" ng-click="stageNext('F')">
                                            <span>F</span>
                                        </button>
                                <button class="button" style="height: 100px; width: 100px;" ng-class="{selectedButton:lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore == 'NA'}" ng-click="stageNext('NA')">
                                            <span>NA</span>
                                        </button>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="nbab">
                        <div ng-switch="" on="lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.practice">
                            <div ng-switch-when="true">
                                <button class="button" style="height: 100px; width: 100px;" ng-click="stageNext()">
                                                <span>다음</span>
                                            </button>
                            </div>
                            <div ng-switch-default>
                                <button class="button" style="height: 100px; width: 100px;" ng-class="{selectedButton:lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore == 'N'}" ng-click="stageNext('N')">
                                                <span>N</span>
                                            </button>
                                <button class="button" style="height: 100px; width: 100px;" ng-class="{selectedButton:lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore == 'B'}" ng-click="stageNext('B')">
                                                <span>B</span>
                                            </button>
                                <button class="button" style="height: 100px; width: 100px;" ng-class="{selectedButton:lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore == 'AB'}" ng-click="stageNext('AB')">
                                                <span>AB</span>
                                            </button>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="ndp">
                        <div ng-switch="" on="lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.practice">
                            <div ng-switch-when="true">
                                <button class="button" style="height: 100px; width: 100px;" ng-click="stageNext()">
                                                    <span>다음</span>
                                                </button>
                            </div>
                            <div ng-switch-default>
                                <button class="button" style="height: 100px; width: 100px;" ng-class="{selectedButton:lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore == 'N'}" ng-click="stageNext('N')">
                                                    <span>N</span>
                                                </button>
                                <button class="button" style="height: 100px; width: 100px;" ng-class="{selectedButton:lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore == 'D'}" ng-click="stageNext('D')">
                                                    <span>D</span>
                                                </button>
                                <button class="button" style="height: 100px; width: 100px;" ng-class="{selectedButton:lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore == 'P'}" ng-click="stageNext('P')">
                                                    <span>P</span>
                                                </button>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="정반응/오반응">
                        <div ng-switch="" on="lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems[stage].refProblem.practice">
                            <div ng-switch-when="true">
                                <button class="button" style="height: 100px; width: 100px;" ng-click="stageNext()">
                                                        <span>다음</span>
                                                    </button>
                            </div>
                            <div ng-switch-default>
                                <button class="button" style="height: 100px; width: 100px;" ng-class="{selectedButton:lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore == '정반응'}" ng-click="stageNext('정반응')">
                                                        <span>정반응</span>
                                                    </button>
                                <button class="button" style="height: 100px; width: 100px;" ng-class="{selectedButton:lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore == '오반응'}" ng-click="stageNext('오반응')">
                                                        <span>오반응</span>
                                                    </button>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-default>
                        <div ng-hide="customFlag">
                            <div ng-if="(selectFlag && recordFlag) || lrpModel.userData.roles === 'patient'" style="float: right;">
                                <button class="button" style="height: 100px; width: 180px;" ng-click="stageNext()" ng-disabled="playLock">
                                {{selectGrade}} 확인
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ng-if="endFlag">

        <ion-header-bar class="lrp-bar-top lrp-header-padding" style="width: 100%; position: relative">
            <div class="div-flex  my-row-center">
                <h3>{{lrpModel.selectedResult.name}}</h3>
            </div>
            <div class="buttons">
                <button class="button button-clear icon ion-close" ng-click="reportResult()"></button>
            </div>
        </ion-header-bar>

        <div>
            <div style="text-align: center; padding: 20px; height: 140px; background-color: azure;">
                <div style="width: 20%; float: left; margin-left: 5%;">
                    <h4>평가자 : {{lrpModel.selectedPatient.name}}</h4>
                    <h4>채점자 : {{lrpModel.selectedPatient.assignedTherapistName}}</h4>
                    <h4>평가일 : {{lrpModel.selectedResult.created | date: "yyyy-MM-dd"}}</h4>
                </div>
                <div style="width: 70%; height: 100%; float: left; margin-left: 5%; display: table;">
                    <div style="display: table-cell; vertical-align: middle;">
                        <div ng-if="lrpModel.selectedResult.tasks.length > 1" style="margin-bottom: 10px;">
                            <div ng-repeat="task in lrpModel.selectedResult.tasks" style="display: inline;">
                                <input ng-class="{ lrpMarginResPx : !$first }" type="radio" name="group" ng-model="lrpModel.taskPivot" ng-value="$index" ng-click="setPivot($index)">
                            </div>
                        </div>
                        <div>
                            <div ng-if="lrpModel.selectedResult.tasks.length > 1" style="float: left;">
                                <button class="button icon ion-ios-arrow-back" style="background-color: azure;" ng-click="backPivot()"></button>
                            </div>
                            <div style="display: inline-block; width: 80%; overflow: hidden; white-space: nowrap;" style="overflow: hidden;">
                                <h1>{{lrpModel.selectedResult.tasks[lrpModel.taskPivot].refTask.name}} Set : {{lrpModel.selectedResult.tasks[lrpModel.taskPivot].setID}}</h1>
                            </div>
                            <div ng-if="lrpModel.selectedResult.tasks.length > 1" style="float: right;">
                                <button class="button icon ion-ios-arrow-forward" style="background-color: azure;" ng-click="frontPivot(lrpModel.selectedResult.tasks.length)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="outer" style="margin-top: 6%;">
                <div class="inner">
                    <div ng-switch="" on="lrpModel.selectedResult.tasks[lrpModel.taskPivot].scoreType">
                        <div ng-switch-when="sfna">
                            <div style="width: 30vw; float: left; margin-left: 10px;">
                                <ion-item style="border: none;">
                                    <div style="position: absolute; top: calc(50% - 25px); left: calc(50% - 50px); font-size: xx-large;">
                                        {{lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore}}
                                    </div>
                                </ion-item>
                            </div>
                        </div>
                        <div ng-switch-when="nbab">
                            <div style="width: 30vw; float: left; margin-left: 10px;">
                                <ion-item style="border: none;">
                                    <div style="position: absolute; top: calc(50% - 25px); left: calc(50% - 50px); font-size: xx-large;">
                                        {{lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore}}
                                    </div>
                                </ion-item>
                            </div>
                        </div>
                        <div ng-switch-when="ndp">
                            <div style="width: 30vw; float: left; margin-left: 10px;">
                                <ion-item style="border: none;">
                                    <div style="position: absolute; top: calc(50% - 25px); left: calc(50% - 50px); font-size: xx-large;">
                                        {{lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore}}
                                    </div>
                                </ion-item>
                            </div>
                        </div>
                        <div ng-switch-default>
                            <div style="width: 30vw; float: left; margin-left: 10px;">
                                <ion-item style="border: none;">
                                    <div ng-if="scoringFlag === false">
                                        <div ng-if="lrpModel.selectedResult.isChecked" style="position: inherit;">
                                            <div style="position: absolute; top: calc(50% - 25px); left: calc(50% - 50px); font-size: xx-large;">
                                                {{((lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfCorrect - lrpModel.numOfPractice) / (lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfResponse - lrpModel.numOfPractice)) * 100 | number : 2}} %
                                            </div>
                                            <div style="position: absolute; top: calc(50% + 10px); left: calc(50% - 12px); font-size: medium;">
                                                {{(lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfCorrect - lrpModel.numOfPractice)}} / {{lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfResponse - lrpModel.numOfPractice}} <span ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfResponse !== lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfProblem">({{lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfResponse}})</span>
                                            </div>
                                            <progress-arc style="margin-left: 1px;" size="300" stroke="#3080E8" stroke-width="55" complete="((lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfCorrect - lrpModel.numOfPractice) / (lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfProblem - lrpModel.numOfPractice))"
                                                background="#ddd">
                                            </progress-arc>
                                        </div>
                                    </div>
                                    <div ng-if="scoringFlag === true">
                                        <div ng-if="lrpModel.selectedResult.isChecked" style="position: inherit;">
                                            <div style="position: absolute; top: calc(50% - 25px); left: calc(50% - 50px); font-size: xx-large;">
                                                {{lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore}} / {{lrpModel.selectedResult.tasks[lrpModel.taskPivot].maxScore}} <span ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfResponse !== lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfProblem">({{lrpModel.selectedResult.tasks[lrpModel.taskPivot].numOfResponse}})</span>
                                            </div>
                                            <div style="position: absolute; top: calc(50% + 10px); left: calc(50% - 12px); font-size: medium;">
                                                {{((lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore) / (lrpModel.selectedResult.tasks[lrpModel.taskPivot].maxScore)) * 100 | number : 2}} %
                                            </div>
                                            <progress-arc style="margin-left: 1px;" size="300" stroke="#3080E8" stroke-width="55" complete="((lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalScore) / (lrpModel.selectedResult.tasks[lrpModel.taskPivot].maxScore))" background="#ddd">
                                            </progress-arc>
                                        </div>
                                    </div>
                                </ion-item>
                            </div>
                        </div>
                    </div>

                    <div style="width: 40vw; float: left">
                        <ion-item style="border: none;">
                            <canvas id="line" class="chart chart-line" data="graphData[lrpModel.taskPivot]" labels="labels[lrpModel.taskPivot]" legend="false" series="series" click="" style="width: 100%; height: 296px;">
                            </canvas>
                        </ion-item>
                    </div>

                    <div style="float: right; margin-right: 10px; height: 50vh">
                        <div style="vertical-align: middle;">
                            <div>
                                <h2>총 수행시간</h2>
                                <h4>{{lrpModel.selectedResult.tasks[lrpModel.taskPivot].totalTime / 1000 | number : 2}} s</h4>
                            </div>
                            <div>
                                <h2>평균시간</h2>
                                <h4>{{lrpModel.selectedResult.tasks[lrpModel.taskPivot].meanTime / 1000 | number : 2}} s</h4>
                            </div>
                            <div>
                                <h2>표준편차</h2>
                                <h4>{{lrpModel.selectedResult.tasks[lrpModel.taskPivot].stdTime / 1000 | number : 2}} s</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div style="position: absolute; width: 100%; padding: 10px; bottom: 0px; text-align: end;">
                <div ng-switch="" on="lrpModel.selectedResult.tasks[lrpModel.taskPivot].scoreType">
                    <div ng-switch-when="sfna"></div>
                    <div ng-switch-when="nbab"></div>
                    <div ng-switch-when="ndp"></div>
                    <div ng-switch-default>
                        <div ng-if="scoringFlag === false && customFlag === false">
                            <div ng-if="lrpModel.selectedResult.isChecked" style="display: table;width: 52%; position: absolute; top: -32%;left: 31%;text-align:center;border: solid;overflow: hidden;">
                                <div style="display: table-row">
                                    <div style="display: table-cell;vertical-align: middle; background-color: #11c1f3;">
                                        <div style="height: 24px;">
                                            문항
                                        </div>
                                        <div style="height: 24px;">
                                            채점
                                        </div>
                                        <div style="height: 24px;" ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'record'">
                                            단서
                                        </div>
                                    </div>

                                    <div style="display: table-cell;" ng-repeat="grade in lrpModel.selectedResult.tasks[lrpModel.taskPivot].problems">
                                        <div style="height: 24px;">
                                            {{$index + 1}}
                                        </div>
                                        <div style="height: 24px;">
                                            <img ng-if="grade.isCorrect" style="width: 24px;" src="./img/res/training_img_answer01.png">
                                            <img ng-if="!grade.isCorrect" style="width: 24px;" src="./img/res/training_img_answer02_100.png">
                                        </div>
                                        <div style="height: 24px;" ng-if="lrpModel.selectedResult.tasks[lrpModel.taskPivot].answerType === 'record'">
                                            <i class="icon" ng-class="{ 0:'ion-android-radio-button-off', 1:'ion-ios-lightbulb-outline', 2:'ion-volume-high', 3:'ion-sad-outline' }[grade.wrongType]"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="button" style="height: 100px; width: 100px;" ng-click="reportResult()">
                        확인
                    </button>
                </div>
            </div>
        </div>

    </div>

</ion-view>