<ion-popover-view class="lrp-popover-view">

    <ion-header-bar class="bar-stable lrp-bar-top lrp-header-padding lrp-popover-scroll">
        <div class="div-flex">
            <h3>Trail making</h3>
        </div>
        <button class="button button-clear icon ion-checkmark-round" style="color: #ffffff;" ng-click="saveScoring()"></button>
    </ion-header-bar>

    <ion-content style="margin: 0px;">
        <div class="lrp-popover-q-header">
            <p><label>1. 통과 개체 개수 ({{scoreModel.q[0].s}})</label></p>
            <div class="lrp-popover-q-content">
                <p><label><input type="checkbox" ng-model="scoreModel.q[0]" ng-true-value={s:6,c:0}> 6</label></p>
                <p><label><input type="checkbox" ng-model="scoreModel.q[0]" ng-true-value={s:5,c:0}> 5</label></p>
                <p><label><input type="checkbox" ng-model="scoreModel.q[0]" ng-true-value={s:4,c:0}> 4</label></p>
                <p><label><input type="checkbox" ng-model="scoreModel.q[0]" ng-true-value={s:3,c:0}> 3</label></p>
                <p><label><input type="checkbox" ng-model="scoreModel.q[0]" ng-true-value={s:2,c:0}> 2</label></p>
                <p><label><input type="checkbox" ng-model="scoreModel.q[0]" ng-true-value={s:1,c:0}> 1</label></p>
                <p><label><input type="checkbox" ng-model="scoreModel.q[0]" ng-true-value={s:0,c:0}> 0</label></p>
            </div>
        </div>
        <div class="lrp-popover-q-result">
            총점 : {{scoreModel.q | sumOfValue:'s'}}
        </div>
    </ion-content>

</ion-popover-view>